@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

:root {
  --border-color: #ffffff;
}

* {
  font-family:
    'DM Sans',
    SF Pro,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

.Name{
  color: #ffffff;
}

.Occupation{
  color: #ffffff;
}

.Logos{
  color: #ffffff;
}

#content{
  color: #ffffff;
}

.CatagoryLine{
  color: #ffffff;
}

.EducationTitle{
  color: #ffffff
}

.ExperienceTitle{
  color:#ffffff}

.Description{
  color: rgba(255, 255, 255, 0.7);
}

.Description span {
  color: rgba(255, 255, 255, 0.5); 
  font-weight: 300;
}

.Arrow{
  color: #ffffff;
}

.Article{
  color: #ffffff;
}

.ArticleArrow{
  color: #ffffff;
}

.Footer{
  color: #ffffff;
}

.Back{
  color: #ffffff;
}

.Course{
  color:#ffffff;
}

#detail-content h1,
#detail-content h2,
#detail-content h3 {
  color: #ffffff;  
}


body {
  background-color: #000000; 
}

#links > a {
  transition: scale 0.05s ease-out;
  &:hover {
    scale: 1.1;
  }
}

.line-holder {
  position: relative;
  width: min(300px, 100%);
  height: 10px;
}

.smallLine {
  position: absolute;
  height: 10px;
  width: 200%;
  transform: translate(-25%) scale(0.5);
}

.smallLine1 {
  background: linear-gradient(
    45deg,
    transparent,
    transparent 49%,
    var(--border-color) 49%,
    transparent 51%
  );
}
.smallLine2 {
  background: linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    var(--border-color) 49%,
    transparent 51%
  );
}

.smallLine {
  background-size: 20px 20px;
}

#back {
  i {
    transition: transform 0.1s ease-out;
    margin-right: 4px;
  }

  &:hover {
    i {
      transform: translateX(-2px);
    }
  }
}

#detail-content {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .line-holder {
    margin: 30px auto;
    width: 200px;
  }

  & > * {
    opacity: 0;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.5;
  }
}

section[id^="article-"],
section[id^="experience-"],
section[id^="education-"] {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  max-width: 0;
}